
    

<div class="container">

    <div class="card">

        <ul>
            <li> PalacateK Amoblamientos </li>

            <li> <i class="fa-solid fa-phone"></i> &nbsp; 34155286460 </li>
            <li>
                <i class="fa-brands fa-whatsapp"></i><a href="https://wa.me/3412787271" target="_blank" title="Envianos un WhatsApp"> &nbsp;
                    3412787271</a>
            </li>
            <li> <i class="fa-regular fa-envelope"></i> <a href="mailto: placatek.amoblamientos@gmail.com" title="placatek.amoblamientos@gmail.com"> &nbsp;Email </a> </li>
            <li><i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/placatek/" target="_blank" title="Ir a Instagram">&nbsp; @Placatek</a></li>

            
        </ul>


        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.2623603146253!2d-60.889943368646065!3d-32.89123096183446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b649702bf090ad%3A0x21331fc366a69813!2sPlacatek!5e0!3m2!1ses-419!2sar!4v1662049682021!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    

    <div class="boton">

        <button type="button" class="btn">
            <a href="/home"> Volver</a></button>

    </div>
</div>
</div>

