body{
    background-color:#5f5647;
    font-family: 'Inter', sans-serif; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
