<app-header></app-header>

<div class="row">
    <div class="col">
    <div class="card">
        <p><a href="/error"><span class="texto"> Cocinas</span></a> </p>
        <p><a href="/error"><span class="texto">Placares</span></a></p>
        <p><a href="/error"><span class="texto">Living</span></a></p>
        <p><a href="/error"><span class="texto">Baños</span></a></p>
        <p><a href="/error"><span class="texto">Comercial</span></a></p>
        <p><a href="/error"><span class="texto">Carpinteria</span></a></p>
    </div>
</div>    

</div>
<app-footer></app-footer>